body {
    background-color: #000000; 
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Page {
    position: absolute;
    top: 5px; 
    left: 740px;
    
}


h1 { padding: 5px;
    color: #FFFFFF; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin-top: 50px; 
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
   }
